{% extends 'base.html' %}
{% load static %}


{% block head_title %}About{% endblock %}


{% block content %}
    <main class="mt-4 pt-2">
        <div class="container text-white">
            <div class="row wow fadeIn">
                <div class="col-md-8 offset-md-2 col-10 offset-1">
                    <h2 class="mt-5 mb-4 h2">About</h2>
                    <p>This is not a real store.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}